QFrame#frame {
    background-image: url(:/backgroud/images/backgroud/login_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

QLineEdit {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
}



/* 设置btnLogin的样式 */
QPushButton#btnLogin {
    background-color: #0099ff; /* 背景颜色 */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

/* 鼠标悬停时的btnLogin样式 */
QPushButton#btnLogin:hover {
    background-color: #008deb;
}

/* 设置QLabel的样式 */
QLabel#labelCover {
    color: #000000;
    border: 2px solid #007ACC;
    border-radius: 5px;
    padding: 5px;
    background: rgba(255,255,255,0.8);
}

QPushButton {
    border: one;
}

/* 窗口按钮 */
QPushButton#btnMin {
    image: url(:/icons/images/icons/minus.png);
    subcontrol-origin: padding;
    subcontrol-position: top right;
    padding: 4px;
}

QPushButton#btnMin:hover {
    background-color:rgba(190, 190, 190, 200);
}

QPushButton#btnClose {
    image: url(:/icons/images/icons/close.png);
    subcontrol-origin: padding;
    subcontrol-position: top right;
    padding: 4px;
}

QPushButton#btnClose:hover {
    background-color:rgba(190, 190, 190, 200);
}
