/* 设置搜索框样式 */
QLineEdit#searchLineEdit {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    min-width: 100px;
}

/* 设置搜索按钮样式 */
QPushButton#searchButton {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 5px;
}

/* 按下状态的搜索按钮样式 */
QPushButton#searchButton:pressed {
    background-color: #45a049;
    border: 1px solid #45a049;
}

