QMainWindow#userwindow {
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    background-position: center;
}

QDialog {
    background-color: #E6E6E6;
}

QGroupBox {
    border: 2px solid #3498db;
    border-radius: 5px;
    margin-top: 10px;
}

QLabel {
    background-color: #3498db;
    color: white;
    border: 2px solid #2980b9;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

QLabel:hover {
    background-color: #FACC2E;
}


